.main-container {
  background-color: #555;
  display: flex;
  flex-flow: row;
  height: 100vh;
  padding: 2rem 0;
  width: 100%;
}

.background {
  /* clip-path: polygon(76% 4%, 0 66%, 100% 100%); */
}

.blurred {
  filter: blur(2px);
}

.player-container {
  align-items: center;
  display: flex;
  flex-flow: column;
  width: 50%;
}

.player-menu {
  background-color: #666;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  padding: 0.5rem 0.5rem;
  width: 50%;
  box-shadow: 10px 10px 15px #444;
}

.board {
  /* background-color: rgb(132, 236, 158); */
  background: rgb(132, 236, 158);
  background: linear-gradient(157deg, rgba(132, 236, 158, 1) 33%, rgba(0, 181, 255, 1) 98%);
  display: grid;
  grid-template-columns: repeat(10, 4rem);
  grid-template-rows: repeat(10, 4rem);
  border-radius: 20px;
  box-shadow: 12px 15px 20px 15px #444;
}

.coins {
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  width: fit-content;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  box-shadow: 9px 5px 10px 5px #444;
}

.coin-icon {
  margin-right: 0.5rem;
}

.end-turn {
  background-color: #444;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 1rem 1rem;
  transition: 500ms;
  box-shadow: 10px 10px 15px #444;
}

.end-turn:hover {
  background-color: #888;
  cursor: pointer;
  transition: 300ms;
}

.player-menu-buttons {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin-top: 1rem;
  padding: 2rem 2rem;
  border-radius: 20px;
  box-shadow: 10px 5px 15px 2px #444;
}

.build-soldier-base {
  background-color: #9284ec;
  cursor: pointer;
  margin-top: 1rem;
  transition: 300ms;
}

.build-soldier-base:hover {
  background-color: #849eec;
  transition: 300ms;
}

.build-tank-base {
  background-color: #ecbf84;
  transition: 300ms;
  cursor: pointer;
}

.build-tank-base:hover {
  background-color: #ecbf84;
  transition: 300ms;
}

.build-plane-base {
  background-color: #ec8b84;
  transition: 300ms;
  cursor: pointer;
}

.build-plane-base:hover {
  background-color: rgb(162, 252, 255);
  transition: 300ms;
}

.build-button {
  align-items: center;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-flow: row wrap;
  font-size: 0.8rem;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0.7rem 0rem;
  width: 100%;
  box-shadow: 10px 10px 15px #444;
  color: cornsilk;
}

.price-build {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 0.2rem;
  width: 40%;
}

.army-info-wrapper {
  border-radius: 20px;
  padding: 1rem 1rem;
  box-shadow: 8px 8px 10px 2px #444;
}

.army-info {
  color: white;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}

.build-icon {
  margin-right: 0.5rem;
}

@keyframes game-rules {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 766px) {
  .main-container {
    background-color: #555;
    display: flex;
    flex-flow: column;
    /* height: 100vh; */
    padding: 1rem 0;
    width: 100%;
  }

  .player-container {
    align-items: center;
    display: flex;
    flex-flow: row;
    order: 2;
  }

  .player-menu {
    background-color: #666;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 1rem 0;
    padding: 0.5rem 0.5rem;
    width: 50%;
    box-shadow: 10px 10px 15px #444;
  }

  .board {
    /* background-color: rgb(132, 236, 158); */
    background: rgb(132, 236, 158);
    background: linear-gradient(157deg, rgba(132, 236, 158, 1) 33%, rgba(0, 181, 255, 1) 98%);
    display: grid;
    grid-template-columns: repeat(10, 2rem);
    grid-template-rows: repeat(10, 2rem);
    border-radius: 20px;
    box-shadow: 12px 15px 20px 15px #444;
    order: 1;
  }
}
